extends layout 

block content 
    form(method='POST' action='new' class='form')
        label(for="input") Username 
        input(type="text" name='username')
        label(for="message") Enter a message
        input(type='text' name='message')
        button(enabled type='submit') Submit