extends layout

block content
  h1= title
  a(href="/new") New Message
  
  div(class='message')
    ul
      each message, i in messages
        li= message.text
        li=message.user
        li=message.added
        br